.Cta {
    background-image: linear-gradient(#242B33, #2d343c61, #242B33),
        url('./background_cta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
}
