$width-content: 582px;

.FirstScreen {
    background-image: linear-gradient(#242B33, #2d343c61, #242B33),
        url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #D4C17F;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D4C17F;
    text-align: center;
    width: 100%;

    
    h1 {
        font-size: 48px;
        font-family: 'Playfair Display';
        width: $width-content;
        font-weight: 700;
        line-height: 3rem;
        margin-bottom: 5rem;
    }

    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $width-content;
        height: 400px;

        span {
            color: white;
        }
    }
}
