html {
    scroll-behavior: smooth;
}

$ul-text-color: white;

section h1 {
    font-size: 2.25rem;
    font-family: 'Playfair Display';
    font-weight: 700;
    color: #D4C17F;

    // h1 {
    //     text-align: center;
    //     transform: translateX(-20%);
    //     margin-bottom: 40px;
    //     font-size: 3rem;
    // }
}

ul {
    list-style: none;

    li {
        list-style: none;
        color: $ul-text-color;
    }
}

p {
    color: white;
}
